header {
  background-color: #e3e1de;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: stretch;
}
header div{
  display: flex;
  align-items: center;
}

body > header > div:nth-child(3) > svg{
  width: 25px;
  height: 20px;
}
header h1{
  font-size: 20px;
}
.banner {
  position: relative;
  left: 0;
  right: 0;
  margin: 10px 0;
  padding: 0;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .shop {
  position: absolute;
  top: 40%;
  left: 0px;
}
.banner h2 {
  font-size: 24px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.banner h2 span {
  color: red;
}
main {
  margin: 80px auto;
}
h2 {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: #f331a2;
}
article p {
  line-height: 1.3em;
  font-size: 1.2em;
  border: 1px solid #f331a2;
  padding: 20px;
  background-color: #e3e1de;
}
main ul {
  white-space: nowrap;
  text-align: center;
}
main li {
  display: inline-block;
  width: 20%;
}
main li img {
  width: 100%;
  height: 100%;
}
nav {
  background-color: #e3e1de;
  margin-top: 2px;
  display: block;
}

.text {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}
footer {
  background-color: #f331a2;
  color: black;
  padding: 10px 0px;
  border: 1px solid white;
  text-align: center;
  margin: 20px 0px;
}
main li:hover {
  position: relative;
  bottom: 4px;
}
header a:hover {
  border: 1px solid blue;
  color: blue;
}
nav li a:hover {
  border: 1px solid blue;
  color: blue;
}
  @media screen and (max-width:720px) {
    body{
      box-sizing: border-box;
    }
  header{
    position: relative;
   display: inline-block;
   padding: 10px;
   max-width: 100%;
   box-sizing: border-box;
  }
  header h1{
    position: absolute;
    left: 30%;
    top: 1%;
    border:1px solid #f331a2;
    border-radius: 30px;
    padding: 2px 6px;
    color: #f331a2;
  }
  .search{
    background-color: white;
    border: 1px solid black;
    width: 80%;
  }
  header input{
    border: none;
  }
  #button5  {
  position: absolute;
  right: 2%;
  top: 57%;
  background-color: #e3e1de;
  border: 1px solid transparent;
  }
  #button5 svg{
    width: 20px;
  }
  header a{
    position: absolute;
    right: 1%;
    top: 10%;
  }
    header form{
    max-width: 100%;
    display: block;
  }
  #button1 svg{
    width: 20px;
  }
 
  #button1 {
    margin-bottom: 10px;
  }
  header a{
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 0px 4px;
  }
  #button5 svg:hover{
    width: 25px;
  }
  header a:hover{
font-size: 17px;
  }
  .banner{
    position: static;

  }
  .banner .shop{
    position: static;
  }
  .banner h2{
    font-size: 15px;
  }
  main{
    margin: 0px auto;
    box-sizing: border-box;
    display: block;
  }
  main li {
    display: block;
    align-content: space-between;
    width: 100%;
  }
  .nav{
    margin: 10px auto;
    background-color: #e3e1de;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  .nav a{
    margin: 0px 6px;
    padding: 4px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 30px;
    color: blue;

  }
  .nav a:hover{
    font-size: 0.7em;
  }
  }
