header {
  position: fixed;
  background-color: #e3e1de;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
header div{
  display: flex;
  align-items: center;
}
#button1{
  margin: 0px 10px;
  border: transparent;
  background-color: transparent;
}
#button1 svg{
  width: 20px;
} 
header h1{
  font-size: 24px;
  margin: 0px 20px;
  border:2px solid #f331a2;
  border-radius: 30px;
  padding: 4px 8px;
  color: #f331a2;
}
.search{
  margin: 0.9% 10%;
  border: 1px solid black;
  padding-right: 20%;
  background-color: white;
  border-radius: 10px;
}
.search svg{
  width: 22px;
  
}
.search input{
  width: 200%;
  border: transparent;
}
.search input:focus{
  outline: none;
}
#button5{
  background-color: transparent;
  border: transparent;
}
#button5 svg{
  width: 24px;
}
.link {
  margin-left: 10%;
}
.link a{
  text-decoration: none;
  color: blue;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 2px 6px;
}
.banner {
  position: relative;
  left: 0;
  right: 0;
  margin: 10px 0;
  padding: 0;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .shop {
  position: absolute;
  top: 40%;
  left: 0px;
}
.banner h2 {
  font-size: 24px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.banner h2 span {
  color: red;
}
main {
  margin: 80px auto;
}
h2 {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: #f331a2;
}
article p {
  line-height: 1.3em;
  font-size: 1.2em;
  border: 1px solid #f331a2;
  padding: 20px;
  background-color: #e3e1de;
}
main ul {
  white-space: nowrap;
  text-align: center;
}
main li {
  display: inline-block;
  width: 20%;
}
main li img {
  width: 100%;
  height: 100%;
}
nav{
  display: block;
}
nav ul{
white-space: nowrap;
max-width: 1200px;
margin: 0px auto;
}
nav li{
  display: inline-block;
width: 33.3%;
font-size: 20px;

}
nav li a{
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 2px 6px;
}
nav li a:hover{
  font-size: 0.9em;
}
.text {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}
footer {
  background-color: #f331a2;
  color: black;
  padding: 10px 0px;
  border: 1px solid white;
  text-align: center;
  margin: 20px 0px;
}
main li:hover {
  position: relative;
  bottom: 4px;
}
header a:hover {
  border: 1px solid blue;
  color: blue;
}
#button5:hover{
font-size: 1.2em;
}
.link:hover{
  font-size: 0.9em;
} 

  @media screen and (max-width:720px) {
    body{
      box-sizing: border-box;
    }
  header{
    position: relative;
   display: inline-block;
   padding: 10px;
   max-width: 100%;
   box-sizing: border-box;
  }
  header h1{
    position: absolute;
    left: 30%;
    top: 1%;
    border:1px solid #f331a2;
    border-radius: 30px;
    padding: 2px 6px;
    color: #f331a2;
  }
  .search{
    background-color: white;
    border: 1px solid black;
    width: 70%;
    margin: 0px 4px;
  }
  .search svg{
    width: 10%;
  }
  header input{
    border: none;
  }
  #button5  {
  position: absolute;
  right: 2%;
  top: 57%;
  background-color: #e3e1de;
  border: 1px solid transparent;
  }
  #button5 svg{
    width: 20px;
  }
  header a{
    position: absolute;
    right: 1%;
    top: 10%;
  }
    header form{
    max-width: 100%;
    display: block;
  }
  #button1 svg{
    width: 20px;
  }
 
  #button1 {
    margin-bottom: 10px;
  }
  header a{
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 0px 4px;
  }
  #button5 svg:hover{
    width: 25px;
  }
  header a:hover{
font-size: 17px;
  }
  .banner{
    position: static;

  }
  .banner .shop{
    position: static;
  }
  .banner h2{
    font-size: 15px;
  }
  main{
    margin: 0px auto;
    box-sizing: border-box;
    display: block;
  }
  main li {
    display: block;
    align-content: space-between;
    width: 100%;
  }

  }
  @media screen and (max-width:1013px) {
    .search{
      margin: 1.5% 13%;
      border: 1px solid black;
      padding-right: 10%;
      background-color: white;
      border-radius: 10px;
    }
    .link {
      margin-left: 7%;
    }
     @media screen and (max-width:1006px) {
      .search input{
        width: 100%;
        border: transparent;
      }
      .search{
        margin: 1.5% 10%;
        border: 1px solid black;
        padding-right: 10%;
        background-color: white;
        border-radius: 10px;
      }
    }
  @media screen and (max-width:820px) {
    .search{
      margin: 1.5% 7%;
      border: 1px solid black;
      padding-right: 10%;
      background-color: white;
      border-radius: 10px;
    }
    .link {
      margin-left: 5%;
    }
  }
